{% extends "base.html" %}

{% block extended_page_content %}
    <h1>So I think this thing works, but I'm not entirely sure anymore</h1>

    <ul>
    {% for obj in object_list %}
        <li><a href="{{ obj.get_absolute_url }}">{{ obj.initiative_identifier }}</a></li>
    {% endfor %}
    </ul>

    <h3>Total</h3>
    {% for contribution in total_sum %}
        <p>{{ contribution.initiative_identifier }}: {{ contribution.total }}</p>
    {% endfor %}

    <h3>In Favor</h3>
    {% for contribution in supporting_sum %}
        <p>{{ contribution.initiative_identifier }}: {{ contribution.total }}</p>
    {% endfor %}

    <h3>Against</h3>
    {% for contribution in opposing_sum %}
        <p>{{ contribution.initiative_identifier }}: {{ contribution.total }}</p>
    {% endfor %}


{% endblock %}