{% extends "election_profiles/base.html" %}
{% load static %}
{% load election_profiles_template_tags %}

<!-- begin meta -->
{% block title %}2015 Los Angeles County Elections Guide{% endblock %}
{% block robots %}{% endblock %}
{% block description %}See what elections are taking place on March 3 in the cities of Los Angeles County.{% endblock %}
{% block keywords %}los angeles, county, city council, school board, elections{% endblock %}
{% block og_title %}2015 Los Angeles County Elections Guide{% endblock %}
{% block og_site_name %}KPCC{% endblock %}
{% block og_type %}website{% endblock %}
{% block og_url %}http://projects.scpr.org/applications/2015-la-election-guide/cities/{% endblock %}
{% block og_description %}See what elections are taking place on March 3 in the cities of Los Angeles County.{% endblock %}
{% block twitter_url %}http://projects.scpr.org/applications/2015-la-election-guide/cities/{% endblock %}
{% block twitter_title %}2015 Los Angeles County Elections Guide{% endblock %}
{% block twitter_description %}See what elections are taking place on March 3 in the cities of Los Angeles County.{% endblock %}
{% block facebook_encoded_share_url %}http://projects.scpr.org/applications/2015-la-election-guide/cities{% endblock %}
{% block twitter_share_text %}See what elections are taking place on March 3 in the cities of Los Angeles County.{% endblock %}
{% block twitter_encoded_share_url %}http://projects.scpr.org/applications/2015-la-election-guide/cities/{% endblock %}
<!-- end meta -->

{% block super_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://projects.scpr.org/static/static-files/v3-dependencies/css/jquery-ui.1.10.3.css" rel="stylesheet" type="text/css" media="all" />
    <link href="http://projects.scpr.org/static/static-files/css/jquery-alerts/jquery.alerts.css" rel="stylesheet" type="text/css" media="all" />
    <link href="..{% static 'css/main-foundation-style-v3.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <link href="..{% static 'css/election-style.css' %}" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block data_details %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content-article">
            <div class="headlines">
                <h4 class="kicker">{{ object_list.article_content.kicker }}</h4>
                <h1>2015 Los Angeles County Elections Guide</h1>
            </div>

            <p><span class="credits">{{ object_list.article_content.display_credits|safe }} | <span class="pubdate">{{ object_list.article_content.display_date|safe }}</p>
            <h6>See what elections are taking place on March 3 in the cities of Los Angeles County. (For the City of L.A., <a href="../">go here</a>.)</h6>

            <p><em>Source: <a href="http://www.smartvoter.org/" target="blank">SmartVoter.org</a></em></p>

            <!--
            <div class="about collapse">
                <p><span class="credits">{{ object_list.article_content.display_credits|safe }}</span> | <span class="pubdate">{{ object_list.article_content.display_date|safe }}</span></p>
                {{ object_list.article_content.display_text|safe }}
            </div>
            <div class="sources collapse">
                <p>
                    {% if object_list.about_content.sources %}
                        <strong>Sources</strong>: {{ object_list.about_content.sources|safe }}
                    {% endif %}
                    {% if object_list.about_content.open_source %}
                        <strong>Built using</strong>: {{ object_list.about_content.open_source|safe }}
                    {% endif %}
                    {% if object_list.about_content.data_download %}
                        <strong>Download</strong>: {{ object_list.about_content.data_download|safe }}
                    {% endif %}
                    {% if object_list.about_content.github_link %}
                        View on <a href="{{ object_list.about_content.github_link|safe }}" target="_blank">GitHub</a>
                    {% endif %}
                </p>
            </div>
            <div class="buttons btn-group btn-group-justified">
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  About</a>
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".sources"><span class="sources glyphicon glyphicon-chevron-down"></span>  Sources</a>
                {% if object_list.about_content.read_more_link %}
                    <a class="btn btn-primary" href="{{ object_list.about_content.read_more_link }}"><span class="glyphicon glyphicon-link"></span> Read more</a>
                {% endif %}
            </div>
            -->
            <div class="dropdown">
                <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" id="dLabel" type="button">Jump to a Specific City<span class="caret"></span></button>
                <ul aria-labelledby="dLabel" class="dropdown-menu" role="menu">
                    {% for city in object_list.display_cities %}
                        {% if city == "City of Los Angeles" %}
                            <li><a href="../">{{ city }}</a></li>
                        {% else %}
                            <li><a href="#{{ forloop.counter }}">{{ city }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block data_visuals %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% for city in object_list.display_cities %}
            {% if city != "City of Los Angeles" %}
                <h3 id="{{ forloop.counter }}">{{ city }}</h3>
                {% for contest in object_list.objects %}
                    {% if contest.city == city %}
                        <div class="row" id="representative-container">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="representative-bio">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <h4><a href="{{ contest.contest_url }}">{{ contest.contest_name }}</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% for measure in object_list.measures %}
                    {% if measure.city == city and measure.measure_url %}
                        <div class="row" id="representative-container">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="representative-bio">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <h4><a href="{{ measure.measure_url }}">{{ measure.measure_number }}</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block super_js %}
    <script>
        window.appConfig = {% app_config_object object_list.config_object %};
    </script>
    <script src="..{% static 'scripts/_application_wrapper_0.5.js' %}"></script>
{% endblock %}