<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p class="lead small"><strong>About the data</strong>: These charts show the daily per capita residential water use rate in California as calculated by the <a href="http://www.waterboards.ca.gov/waterrights/water_issues/programs/drought/docs/ws_tools/guidance_estimate_res_gpcd.pdf">State Water Resources Control Board</a>. The charts cover the {{ current_year }} reporting period, and compared to the baseline measure from the same month in {{ last_year }}. Since the per capita measure (which reflects gallons of water used per resident per day) does not take into account rainfall, temperature, humidity and population density, the State Water Resources Control Board discourages comparisons between water suppliers.</p>
</div>


