{% extends "cali_water/base.html" %}
{% load humanize %}
{% load static %}
{% load cali_water_template_tags %}
{% load maplight_finance_template_tags %}

<!-- begin meta -->
{% block title %}{{ object|title }} monthly water use data{% endblock %}
{% block robots %}{% endblock %}
{% block description %}Gallons of water used per person per day {% increase_or_decrease results.0.calculated_rgpcd_2013 results.0.calculated_rgpcd_2014 %} in {{ results.0.reporting_month|date:"F Y" }} compared to {{ results.0.reporting_month|get_last_year|date:"F Y" }} in the {{ object|title }}{% endblock %}
{% block keywords %}drought, state water resources control board, california{% endblock %}
{% block og_title %}{{ object|title }} monthly water use data{% endblock %}
{% block og_site_name %}KPCC{% endblock %}
{% block og_type %}website{% endblock %}
{% block og_url %}http://projects.scpr.org/applications/monthly-water-use/{{ slug }}/{% endblock %}
{% block og_description %}Gallons of water used per person per day {% increase_or_decrease results.0.calculated_rgpcd_2013 results.0.calculated_rgpcd_2014 %} in {{ results.0.reporting_month|date:"F Y" }} compared to {{ results.0.reporting_month|get_last_year|date:"F Y" }} in the {{ object|title }}{% endblock %}
{% block twitter_url %}http://projects.scpr.org/applications/monthly-water-use/{{ slug }}/{% endblock %}
{% block twitter_title %}{{ object|title }} monthly water use data{% endblock %}
{% block twitter_description %}Gallons of water used per person per day {% increase_or_decrease results.0.calculated_rgpcd_2013 results.0.calculated_rgpcd_2014 %} in {{ results.0.reporting_month|date:"F Y" }} compared to {{ results.0.reporting_month|get_last_year|date:"F Y" }} in the {{ object|title }}{% endblock %}
{% block facebook_encoded_share_url %}http://projects.scpr.org/applications/monthly-water-use/{{ slug }}/{% endblock %}
{% block twitter_share_text %}Gallons of water used per person per day {% increase_or_decrease results.0.calculated_rgpcd_2013 results.0.calculated_rgpcd_2014 %} in {{ results.0.reporting_month|date:"F Y" }} compared to {{ results.0.reporting_month|get_last_year|date:"F Y" }} in the {{ object|title }}{% endblock %}
{% block twitter_encoded_share_url %}http://projects.scpr.org/applications/monthly-water-use/{{ slug }}/{% endblock %}
<!-- end meta -->

{% block super_css %}
    <link href="..{% static 'css/reset.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://projects.scpr.org/static/static-files/v3-dependencies/css/jquery-ui.1.10.3.css" rel="stylesheet" type="text/css" media="all" />
    <link href="http://projects.scpr.org/static/static-files/css/jquery-alerts/jquery.alerts.css" rel="stylesheet" type="text/css" media="all" />
    <link href="..{% static 'css/main-foundation-style-v3.css' %}" media="screen" rel="stylesheet" type="text/css" />

    <link href="..{% static 'css/style.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <link href="..{% static 'css/chartist.min.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <link href="..{% static 'css/chart-override.css' %}" media="screen" rel="stylesheet" type="text/css" />

{% endblock %}

{% block header_js %}{% endblock %}

{% block data_details %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content-article">
            <div class="headlines">
                <h4 class="kicker">{{ article_content.kicker }}</h4>
                <h1>{{ article_content.display_headline }}</h1>
            </div>
            <div class="about collapse">
                <p><span class="credits">{{ article_content.display_credits|safe }}</span> | <span class="pubdate">{{ article_content.display_date|safe }}</span></p>
                {{ article_content.display_text|safe }}
            </div>
            <div class="sources collapse">
                <p>
                    {% if about_content.sources %}
                        <strong>Sources</strong>: {{ about_content.sources|safe }}
                    {% endif %}
                    {% if about_content.open_source %}
                        <strong>Built using</strong>: {{ about_content.open_source|safe }}
                    {% endif %}
                    {% if about_content.data_download %}
                        <strong>Download</strong>: {{ about_content.data_download|safe }}
                    {% endif %}
                    {% if about_content.github_link %}
                        View on <a href="{{ about_content.github_link|safe }}" target="_blank">GitHub</a>
                    {% endif %}
                </p>
            </div>
            <div class="buttons btn-group btn-group-justified">
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  About</a>
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".sources"><span class="sources glyphicon glyphicon-chevron-down"></span>  Sources</a>
                {% if object_list.about_content.read_more_link %}
                    <a class="btn btn-primary" href="{{ about_content.read_more_link }}"><span class="glyphicon glyphicon-link"></span> Read more</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block data_visuals %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="list-inline">
                <li><a href="../">Home</a></li>
                <li>|</li>
                <li><a href="../{{ slug }}">{{ object|title }}</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>{{ object|title }}</h2>
            <h6>The number of gallons of water used per person per day <span>{% increase_or_decrease results.0.calculated_rgpcd_2013 results.0.calculated_rgpcd_2014 %}</span> in {{ results.0.reporting_month|date:"F Y" }} compared to {{ results.0.reporting_month|get_last_year|date:"F Y" }}, according to the <a href="http://www.swrcb.ca.gov/waterrights/water_issues/programs/drought/conservation_reporting_info.shtml">latest data submitted</a> to the <a href="http://www.waterboards.ca.gov/waterrights/">State Water Resources Control Board</a> by the {{ object|title }}.</h6>
        </div>
    </div>
    <div class="row calculated-last-year">
        <div class="_year_change col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
            <dl>
                <dt>{% percent_change results.0.calculated_rgpcd_2013 results.0.calculated_rgpcd_2014 %}</dt>
                <dd>when comparing {{ results.0.reporting_month|date:"F Y" }} with {{ results.0.reporting_month|get_last_year|date:"F Y" }}</dd>
            </dl>
        </div>
        <div class="_2014 col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
            <dl>
                <dt>{{ results.0.calculated_rgpcd_2014|floatformat:2|intcomma }}</dt>
                <dd>gallons of water used per person per day in {{ results.0.reporting_month|date:"F Y" }}</dd>
            </dl>
        </div>
        <div class="_2013 col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
            <dl>
                <dt>{{ results.0.calculated_rgpcd_2013|floatformat:2|intcomma }}</dt>
                <dd>gallons of water used per person per day in {{ results.0.reporting_month|get_last_year|date:"F Y" }}</dd>
            </dl>
        </div>
    </div>

    <!-- charts -->
    <div class="row chart">
        <div class="hidden-xs col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h6>{% build_chart_sentence data_2014 %}</h6>
            <div class="ct-chart ct-double-octave"></div>
        </div>
    </div>

    <!--
    <div class="row calculated-last-year">
        <div class="_year_change col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
            <dl>
                <dt>{{ avg_rgcpd_2014|floatformat:2|intcomma }}</dt>
                <dd></dd>
            </dl>
        </div>
        <div class="_2014 col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
            <dl>
                <dt></dt>
                <dd></dd>
            </dl>
        </div>
        <div class="_2013 col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
            <dl>
                <dt></dt>
                <dd></dd>
            </dl>
        </div>
    </div>
    -->

    {% if incentives.0.incentives_offered == True  %}
        <div class="row incentive">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h6 class="text-center">{{ incentives.0.supplier_name|title }} has a conservation incentive program for residential or business customers</h6>
                    {% if incentives.0.incentives_details %}
                        <p>{{ incentives.0.incentives_details }}
                        {% if incentives.0.incentives_url %}
                            Learn more about the conservation incentive program <a href="{{ incentives.0.incentives_url }}">here</a>.</p>
                        {% else %}
                        {% endif %}
                    {% else %}
                    </p>
                    {% endif %}
                    {% if incentives.0.turf_removal_offered == True  %}
                        <p>A turf removal program also provides consumers with rebates for removing grass from their property and replacing it with a drought tolerant plants.
                        {% if incentives.0.turf_rebate_amount %}
                            Currently the rebate for residential customers is {{ incentives.0.turf_rebate_amount|currency }} per square foot.
                        {% else %}
                            </p>
                        {% endif %}
                        {% if incentives.0.turf_removal_details %}
                            <p>{{ incentives.0.turf_removal_details }}</p>
                        {% else %}
                        {% endif %}
                        {% if incentives.0.turf_removal_url %}
                            <p>Learn more about the turf removal program <a href="{{ incentives.0.turf_removal_url }}">here</a>.</p>
                        {% else %}
                        {% endif %}
                    {% else %}
                    {% endif %}
                <p class="pubdate small-writing">&ndash; Last updated {{ incentives.0.turf_removal_last_updated|date:"F Y" }}</p>
            </div>
        </div>
    {% endif %}

    {% if restrictions.0.restriction == True %}
        <div class="row restrictions">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {% if restrictions.0.restriction_current_status == None %}
                    <h6 class="text-center">We couldn't find updated information for {{ restrictions.0.supplier_name|title }}.</h6>
                {% elif restrictions.0.restriction_current_status == "state-mandated" %}
                    <h6 class="text-center">{{ restrictions.0.supplier_name|title }} now should be following <a href="http://www.waterboards.ca.gov/waterrights/water_issues/programs/drought/docs/emergency_regulations/oal_app2014071810e.pdf">statewide water restrictions</a> that took effect July 29, 2014.</h6>
                {% elif restrictions.0.restriction_current_status == "restrictions" %}
                    <h6 class="text-center">{{ restrictions.0.supplier_name|title }} had restrictions in place prior to <a href="http://www.waterboards.ca.gov/waterrights/water_issues/programs/drought/docs/emergency_regulations/oal_app2014071810e.pdf">statewide action</a> on July 29, 2014.</h6>
                {% else %}
                    <h6 class="text-center">We couldn't find updated information for {{ restrictions.0.supplier_name|title }}.</h6>
                {% endif %}
                {% if restrictions.0.restriction_details %}
                    <p>{{ restrictions.0.restriction_details|safe }}</p>
                    <p class="pubdate small-writing">&ndash; Last updated {{ restrictions.0.restrictions_last_updated|date:"F Y" }}</p>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="row conservation">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="icon-display">
                <h6 class="text-center">Here are some ways you can help conserve water</h6>
                <div class="row icons">
                    {% for method in conservation_methods %}
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                            <img class="placemark" src="{{ method.method_image_path }}" />
                            <p class="text-center">{{ method.method_text }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <p class="lead"><strong>About the data</strong>: This data is for urban water suppliers and is based on the the most recent reports submitted to the <a href="http://www.waterboards.ca.gov/waterrights/">State Water Resources Control Board</a>. Since the gallons of water used per person per day measurement does not take into account rainfall, temperature, humidity and population density, the State Water Resources Control Board discourages comparisons between water suppliers.</p>
</div>
{% endblock %}

{% block super_js %}
    <script>
        $(document).ready(function(){
            $("#metatabs li:eq(0) a").tab('show');
        });
        window.appConfig = {% app_config_object config_object %};
        window.appConfig.open_about_this = false;
    </script>

    <script src="..{% static 'scripts/chartist.min.js' %}"></script>
    <script src="..{% static 'scripts/_application_wrapper_0.5.js' %}"></script>

    <script>
        var chartAxisLabels = {{ labels|app_config_object|safe }}

        var data = {
            // a labels array that can contain any sort of values
            labels: chartAxisLabels,

            // our series array that contains series objects or in this case series data arrays
            series: [
                //{{ data_2013 }},
                {{ data_2014 }},
            ]
        };

        // we are setting a few options for our chart and override the defaults
        var options = {

            seriesBarDistance: 15,

            reverseData: true,

            horizontalBars: true,

            // line chart points
            showPoint: true,

            // line smoothing
            lineSmooth: true,

            // overriding the natural low of the chart
            low: 0,

            // overriding the natural high of the chart allows you to zoom
            high: undefined,

            // x-axis specific configuration
            axisX: {

                labelOffset: {
                    x: 0,
                    y: 10
                },

                // we can disable the grid for this axis
                showGrid: true,

                // and also don't show the label
                showLabel: true,

                labelInterpolationFnc: function(value) {
                    return value;
                }
            },

            // y-axis specific configuration
            axisY: {

                // lets offset the chart a bit from the labels
                offset: 70,

                // the label interpolation function enables you to modify the values
                // used for the labels on each axis. here we are converting the
                // values into million pound.
                labelInterpolationFnc: function(value) {
                    return value + " gpppd";
                }
            }
        };

        // create a new line chart object where as first parameter we pass in a selector
        // that is resolving to our chart container element. the second parameter
        // is the actual data object.
        new Chartist.Line(".ct-chart", data, options);

        var $chart = $('.ct-chart');

        var $tooltip = $('<div class="tooltip tooltip-hidden"></div>').appendTo($('.ct-chart'));

        $(document).on('mouseenter', '.ct-point', function() {

            //var seriesName = $(this).closest('.ct-series').attr('ct:series-name');

            var value = parseFloat($(this).attr('ct:value')).toFixed(2);

            $tooltip.text(value + " gpppd");

            $tooltip.removeClass('tooltip-hidden');
        });

        $(document).on('mouseleave', '.ct-point', function() {
            $tooltip.addClass('tooltip-hidden');
        });

        $(document).on('mousemove', '.ct-point', function(event) {
            $tooltip.css({
                left: (event.offsetX || event.originalEvent.layerX) - $tooltip.width() / 2,
                top: (event.offsetY || event.originalEvent.layerY) - $tooltip.height() - 20
            });
        });

    </script>
{% endblock %}
