{% extends "cali_water/base.html" %}
{% load humanize %}
{% load staticfiles %}
{% load cali_water_template_tags %}

<!-- begin meta -->
{% block title %}Water use in California's {{ map_data.0.hydrologic_region }} hydrologic region{% endblock %}
{% block robots %}{% endblock %}
{% block description %}{{ map_data.0.hydrologic_region }} residential customers {% no_span_increase_or_decrease map_data.0.this_month_baseline_avg map_data.0.this_month_avg %} daily water use in {{ target_report|date:"N Y" }} to an average of {{ map_data.0.this_month_avg|floatformat:2 }} gallons in the {{ report.hydrologic_region }} hydrologic region compared to {{ target_report|get_last_year|date:"N Y" }}. Based on data from {{ map_data.0.count }} agencies, the distribution chart below shows how each performed in terms of daily per person residential use rate.{% endblock %}
{% block keywords %}drought, state water resources control board, california{% endblock %}
{% block og_title %}Water use in California's {{ map_data.0.hydrologic_region }} hydrologic region{% endblock %}
{% block og_site_name %}KPCC{% endblock %}
{% block og_type %}website{% endblock %}
{% block og_url %}http://projects.scpr.org/static/applications/monthly-water-use/region/{{ region_slug }}{% endblock %}
{% block og_description %}{{ map_data.0.hydrologic_region }} residential customers {% no_span_increase_or_decrease map_data.0.this_month_baseline_avg map_data.0.this_month_avg %} daily water use in {{ target_report|date:"N Y" }} to an average of {{ map_data.0.this_month_avg|floatformat:2 }} gallons in the {{ report.hydrologic_region }} hydrologic region compared to {{ target_report|get_last_year|date:"N Y" }}. Based on data from {{ map_data.0.count }} agencies, the distribution chart below shows how each performed in terms of daily per person residential use rate.{% endblock %}
{% block twitter_url %}http://projects.scpr.org/static/applications/monthly-water-use/region/{{ region_slug }}{% endblock %}
{% block twitter_title %}Water use in California's {{ map_data.0.hydrologic_region }} hydrologic region{% endblock %}
{% block twitter_description %}{{ map_data.0.hydrologic_region }} residential customers {% no_span_increase_or_decrease map_data.0.this_month_baseline_avg map_data.0.this_month_avg %} daily water use in {{ target_report|date:"N Y" }} to an average of {{ map_data.0.this_month_avg|floatformat:2 }} gallons in the {{ report.hydrologic_region }} hydrologic region compared to {{ target_report|get_last_year|date:"N Y" }}. Based on data from {{ map_data.0.count }} agencies, the distribution chart below shows how each performed in terms of daily per person residential use rate.{% endblock %}
{% block facebook_encoded_share_url %}http://projects.scpr.org/static/applications/monthly-water-use{% endblock %}
{% block twitter_share_text %}Water use in California's {{ map_data.0.hydrologic_region }} hydrologic region{% endblock %}
{% block twitter_encoded_share_url %}http://projects.scpr.org/static/applications/monthly-water-use/region/{{ region_slug }}{% endblock %}
<!-- end meta -->

{% block super_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/css/select2.min.css" rel="stylesheet" />

    <style type="text/css">

        /* table styles */
        .data-container table { width: 100%; height: auto; }
        .data-container table.table-striped thead th { background-color: #2B2B2B; color: #fdfdfd; }
        .data-container table.table-striped tbody > tr:nth-child(even) > td,
        .data-container table.table-striped tbody > tr:nth-child(even) > th { background-color: #aaaaaa; }
        .data-container table.table-striped tbody > tr:nth-child(odd) > td,
        .data-container table.table-striped tbody > tr:nth-child(odd) > th { background-color: #fdfdfd; }

        /* tablestacker styles */
        #table-container {
            background: #ffffff;
            padding: 20px 10px 20px 10px;
            font-family: "proxima-nova", "helvetica neue", helvetica, arial, sans-serif;
        }

        #table-container .kpcc-table th {
            color: #B24401;
            text-transform: uppercase;
            background: #f5f5f5;
            text-align: left;
            vertical-align: middle;
            font-weight: 500;
            /*border-top: 1px solid #f17b21;*/
            /*border-bottom: 1px solid rgba(0, 0, 0, 0.4);*/
            /*font-family: "proxima-nova", "Avenir Next", "Avenir", "Lucida Grande", "Corbel", "Tahoma", Arial, sans-serif;*/
            /*font-weight: 700;*/
            /*vertical-align: bottom;*/
            /*font-size: 0.6875em;*/
            /*padding: 20px 14px 9px 5px;*/
            /*line-height: 1;*/
            /*color: rgba(0, 0, 0, 0.4);*/
            /*box-shadow: inset 0 -4px 0 #e8e8e8;*/
         }

        #table-container .kpcc-table td { text-align: left; vertical-align: middle; font-weight: 500; line-height: 1.1; padding: 10px 14px 10px 5px; vertical-align: top; border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
        #table-container .kpcc-table td mark { text-transform: uppercase; color: #B24401; background: none; margin-bottom: 4px; font-weight: 700; display: none; }
        #table-container .kpcc-table tr td:first-child { }
        #table-container .kpcc-table tr td:first-child mark { display: none; }
        #table-container .kpcc-table tr td:last-child { box-shadow: none; }

        #table_fu input[type="text"] {
            display: inline-block;
            height: 40px;
            padding: 4px 6px;
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 20px;
            color: #555555;
            font-weight: 700;
            vertical-align: middle;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }

        #table-container #table_fu #controls { height: auto; clear: both; display: block; overflow: visible; margin: 10px 0 15px 0; }

        #table-container #table_fu #controls #filter,
        #table-container #table_fu #controls #pager { margin: 5px auto 25px auto; }

        @media screen and (max-width: 595px) {
            #table-container #table_fu #controls { font-size: 140%; }
            #table-container .kpcc-table { border-top: 3px solid #f17b21; border-bottom: 3px solid black; width: 100%; font-size: 160%; }
            #table-container .kpcc-table thead { display: none; }
            #table-container .kpcc-table tbody, #table-container .kpcc-table tr, #table-container .kpcc-table td { width: 100%; }
            #table-container .kpcc-table td { box-shadow: none; display: block; width: 100%; padding: 7px 10px 7px 10px; font-size: 110%; border-bottom-color: #cfcfcf; }
            #table-container .kpcc-table td mark { display: block; }
            #table-container .kpcc-table tr td:first-child { font-size: 1.25em; background: #f5f5f5; font-weight: 700; border-bottom-color: gray; padding-top: 15px; }
            #table-container .kpcc-table tr td:nth-child(2) { padding-top: 12px; }
            #table-container .kpcc-table tr td:last-child { padding-bottom: 20px; border-bottom: 1px solid black; }
        }

        @media (min-width: 596px) {
            #table-container #table_fu #controls { font-size: 110%; }
            #table-container .kpcc-table { font-size: 110%; }
            #table-container .kpcc-table th { font-size: 70%; }
        }

        @media (min-width: 640px) {
            #table-container #table_fu #controls { font-size: 120%; }
            #table-container .kpcc-table { font-size: 120%; }
            #table-container .kpcc-table th { font-size: 85%; }
        }

        @media (min-width: 768px) {
            #table-container #table_fu #controls { font-size: 130%; }
            #table-container .kpcc-table { font-size: 130%; }
            #table-container .kpcc-table th { font-size: 95%; }
        }

        @media (min-width: 992px) {
            #table-container #table_fu #controls { font-size: 140%; }
            #table-container .kpcc-table { font-size: 140%; }
            #table-container .kpcc-table th { font-size: 105%; }
        }

        #table-container #table_fu div.bullet-graph-wrap { position: relative; width: 100%; height: 21px; top: 0; left: 0; margin: 0; padding: 0; }
        #table-container #table_fu div.bullet-graph-box1 { position: absolute; height: 20px; width: 30%; left: 0; background-color: #eeeeee; z-index: 1; font-size: 0; }
        #table-container #table_fu div.bullet-graph-box2 { position: absolute; height: 20px; width: 30%; left: 30%; background-color: #dddddd; z-index: 1; font-size: 0; border:1px solid #CCC; }
        #table-container #table_fu div.bullet-graph-box3 { position: absolute; height: 20px; width: 30%; left: 60%; background-color: #bbbbbb; z-index: 1; font-size: 0; }
        #table-container #table_fu div.bullet-graph-box4 { position: absolute; height: 20px; width: 10%; left: 90%; background-color: #bbbbbb; z-index: 1; font-size: 0; }
        #table-container #table_fu div.bullet-graph-target { position: absolute; height: 21px; width: 2px; left: 32px; top: 0; background-color: #cc0000; z-index: 7; font-size: 0; }
        #table-container #table_fu div.bullet-graph-actual { position: absolute; height: 8px; left: 0px; top: 7px; background-color: #000000; font-size: 0; z-index: 5; font-size: 0; }

        #table-container table.kpcc-table th, #table-container table.kpcc-table td {
            text-align: center;
        }
    </style>
{% endblock %}

{% block header_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/js/select2.min.js"></script>

    <script src="{{ STATIC_URL }}cali_water/scripts/jquery.tablesorter.js"></script>
    <!--
    <script src="{{ STATIC_URL }}cali_water/scripts/jquery.tablesorter.pager.js"></script>
    -->
    <script src="{{ STATIC_URL }}cali_water/scripts/jquery.tablesorter.multipagefilter.js"></script>
    <script type="text/javascript">
        /* For picking out bits from the query string */
        var getParameterByName = function(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regexS = "[\\?&]" + name + "=([^&#]*)";
            var regex = new RegExp(regexS);
            var results = regex.exec(window.location.href);
            if(results == null){
                return "";
            } else {
                return decodeURIComponent(results[1].replace(/\+/g, " "));
            }
        };
    </script>
{% endblock %}

{% block data_details %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="content-article">
            <div class="headlines">
                <h4 class="kicker">{{ article_content.kicker }}</h4>
                <h1>{{ article_content.display_headline }}</h1>
            </div>
            <div class="about collapse">
                <p><span class="credits">{{ article_content.display_credits|safe }}</span> | <span class="pubdate">{{ article_content.display_date|safe }}</span></p>
                {{ article_content.display_text|safe }}
            </div>
            <div class="sources collapse">
                <p>
                    {% if about_content.sources %}
                        <strong>Sources</strong>: {{ about_content.sources|safe }}
                    {% endif %}
                    {% if about_content.open_source %}
                        <strong>Built using</strong>: {{ about_content.open_source|safe }}
                    {% endif %}
                    {% if about_content.data_download %}
                        <strong>Download</strong>: {{ about_content.data_download|safe }}
                    {% endif %}
                    {% if about_content.github_link %}
                        View on <a href="{{ about_content.github_link|safe }}" target="_blank">GitHub</a>
                    {% endif %}
                </p>
            </div>
            <div class="buttons btn-group btn-group-justified">
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="about glyphicon glyphicon-chevron-down"></span>  About</a>
                <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".sources"><span class="sources glyphicon glyphicon-chevron-down"></span>  Sources</a>
                {% if about_content.read_more_link %}
                    <a class="btn btn-primary" href="{{ about_content.read_more_link }}"><span class="glyphicon glyphicon-link"></span> Read more</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block data_visuals %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="{% settings_value 'URL_PATH' %}/">Home</a></li>
                    <li class="active">{{ region_name }}</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jumbotron">
            <noscript>Please enable JavaScript to view this interactive.</noscript>
            <h4 class="text-center">Choose a water supplier</h4>
            <div id="content-action-bar">
                <select id="water-supplier-list" class="form-control js-basic-single">
                    <option>-- Select a {{ map_data.0.hydrologic_region }} agency --</option>
                    {% for supplier in map_data.0.suppliers %}
                        <option value="{% settings_value 'URL_PATH' %}/{{ supplier.supplier_name|slugify }}/">{{ supplier.supplier_name|title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    {% include "cali_water/about_data.html" with current_year=target_report|date:"N Y" last_year=target_report|get_last_year|date:"Y" %}

    {% for report in map_data %}
        <div class="row">
            <div class="hidden-xs col-sm-4 col-md-3 col-lg-3 image-map">
                <img src="{{ STATIC_URL }}cali_water/images/cal-region-{{ report.hydrologic_region|slugify }}.png" />
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <h3><a href="{% settings_value 'URL_PATH' %}/region/{{ report.hydrologic_region|slugify }}/">{{ report.hydrologic_region }}</a></h3>
                <p>Daily per capita residential water use {% increase_or_decrease report.this_month_baseline_avg report.this_month_avg %} in {{ target_report|date:"N Y" }} to an average of {{ report.this_month_avg|floatformat:2 }} gallons in the {{ report.hydrologic_region }} hydrologic region. That number is compared to the {{ target_report|get_last_year|date:"N Y" }} baseline. <a href="{% settings_value 'URL_PATH' %}/region/{{ report.hydrologic_region|slugify }}/reduction-comparison/">Click here</a> to see proposed reductions for this region. Use the chart below to see how the {{ report.count }} agencies in this region performed.</p>

                <!--
                    based on census reporter distribution "circles on a line" charts by Ryan Pitts, Joe Germuska, Ian Dees and Sara Schnadt. example here: http://censusreporter.org/data/distribution/?table=B25064&geo_ids=860|16000US0644000

                    formula to arrive at the circles on a line: https://github.com/censusreporter/censusreporter/blob/47ee559d3939ec00d2e39e1f540b277bc50bbff8/censusreporter/apps/census/static/js/comparisons.js#L703

                    styles to arrive at the circles on a line: https://github.com/censusreporter/censusreporter/blob/47ee559d3939ec00d2e39e1f540b277bc50bbff8/censusreporter/apps/census/static/css/charts.css#L450
                -->

                <section class="coal-chart-container">
                    <ul class="coal-chart">
                        {% for supplier in report.suppliers %}
                            <li id="{{ supplier.supplier_name|slugify }}" class="chart-point" style="left: {{ supplier.distribution_precent }}%;">
                                <span class="point" data-index="{{ supplier.supplier_name|slugify }}">
                                    <span class="hovercard">
                                        <span class="text-center"><a class="label-title" href="{% settings_value 'URL_PATH' %}/{{ supplier.supplier_name|slugify }}/">{{ supplier.supplier_name|title }}</a></span><br />
                                        <span class="value text-center">{{ supplier.calculated_rgpcd_2014|floatformat:2 }}</span>
                                    </span>
                                </span>
                            </li>
                        {% endfor %}
                        <li class="tick-mark tick-mark-min" style="left: {{ report.min_range }}%;">
                            <span class="text-center"><b>Min</b> <br /> {{ report.this_min.calculated_rgpcd_2014__min|floatformat:2 }}</span>
                        </li>

                        <li class="tick-mark tick-mark-median" style="left: {{ report.median_range }}%;">
                            <span class="text-center"><b>Median</b> <br /> {{ report.median|floatformat:2 }}</span>
                        </li>
                        <li class="tick-mark tick-mark-average" style="left: {{ report.average_range }}%;">
                            <span class="text-center"><b>Average</b> <br /> {{ report.this_month_avg|floatformat:2 }}</span>
                        </li>
                        <li class="tick-mark tick-mark-max" style="left: {{ report.max_range }}%;">
                            <span class="text-center"><b>Max</b> <br /> {{ report.this_max.calculated_rgpcd_2014__max|floatformat:2 }}</span>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="table-container">
                <div id="table_fu">
                    <div id="controls" class="row">
                        <div class="filter col-xs-12 col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                            <form class="form-inline" >
                                <input type="text" class="search form-control" placeholder="Filter list of {{ region_name }} agencies...">
                            </form>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <table id="data" class="kpcc-table tabular table">
                        <thead>
                            <tr>
                                <th style="cursor: pointer;">Water Agency</th>
                                <th class="text-center" style="cursor: pointer;">{{ target_report|date:"N Y" }}</th>
                                <th class="text-center" style="cursor: pointer;">{{ target_report|get_last_year|date:"N Y" }}</th>
                                <th class="text-center" style="cursor: pointer;">Change from {{ target_report|get_last_year|date:"N Y" }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for report in map_data %}
                                {% for supplier in report.suppliers %}
                                    <tr>
                                        <td><mark>Water Agency</mark><a href="{% settings_value 'URL_PATH' %}/{{ supplier.supplier_slug }}/" target="blank">{{ supplier.supplier_name|title }}</a></td>
                                        <td class="text-center"><mark>{{ target_report|date:"N Y" }}</mark>{{ supplier.calculated_rgpcd_2014|floatformat:2 }}</td>


                                        {% if supplier.calculated_rgpcd_2013 %}
                                            <td class="text-center"><mark>{{ target_report|get_last_year|date:"N Y" }}</mark>{{ supplier.calculated_rgpcd_2013|floatformat:2 }}</td>
                                            <td class="text-center"><mark>Change from {{ target_report|get_last_year|date:"N Y" }}</mark>{% percent_change supplier.calculated_rgpcd_2013 supplier.calculated_rgpcd_2014 %}</td>
                                        {% else %}
                                            <td class="text-center"><mark>{{ target_report|get_last_year|date:"N Y" }}</mark>n/a</td>
                                            <td class="text-center"><mark>Change from {{ target_report|get_last_year|date:"N Y" }}</mark>n/a</td>
                                        {% endif %}


                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block config_js %}
    <script>
        window.appConfig = {% app_config_object config_object %};
        window.appConfig.embed_this = true;
        window.appConfig.project_root = window.appConfig.project_root + "region/{{ region_slug }}";
    </script>
{% endblock %}

{% block super_js %}
    <script src="{{ STATIC_URL }}cali_water/scripts/_application.js"></script>
    <script>

        var sorting_array = [[1, 1], [0, 0]];

        var headers_object = {
            0: {sorter: true},
            1: {sorter: true},
            2: {sorter: true},
            3: {sorter: true}
        };

        $(document).ready(function(){
            fn.enableSelectMenu();
            fn.enableComparisonCharts();
            fn.createReductionComparisonTable(sorting_array, headers_object);
        });

    </script>
{% endblock %}