{% load staticfiles %}
{% load cali_water_template_tags %}

<!DOCTYPE html>

<!-- begin doc -->
<html lang="en">

    <!-- begin header -->
    <head>

        <!-- begin meta -->
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        {% block robots %}{% endblock %}
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        <meta name="author" content="89.3 KPCC" />
        <meta property="og:title" content="{% block og_title %}{% endblock %}" />
        <meta property="og:site_name" content="{% block og_site_name %}{% endblock %}" />
        <meta property="og:type" content="{% block og_type %}{% endblock %}" />
        <meta property="og:image" content="http://projects.scpr.org/static-files/v3-dependencies/images/kpcc-og-twitter-logo.png" />
        <meta property="og:image:width" content="500" />
        <meta property="og:image:height" content="500" />
        <meta property="og:url" content="{% block og_url %}{% endblock %}" />
        <meta property="og:description" content="{% block og_description %}{% endblock %}" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:url" content="{% block twitter_url %}{% endblock %}"/>
        <meta name="twitter:domain" content="http://projects.scpr.org/"/>
        <meta name="twitter:site" content="KPCC"/>
        <meta name="twitter:title" content="{% block twitter_title %}{% endblock %}"/>
        <meta name="twitter:description" content="{% block twitter_description %}{% endblock %}"/>
        <meta name="twitter:image:src" content="http://projects.scpr.org/static-files/v3-dependencies/images/kpcc-og-twitter-logo.png">
        <link rel="shortcut icon" href="http://media.scpr.org/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="http://media.scpr.org/assets/images/icon.png">
        <!-- end meta -->

        <!-- begin css -->
        <link href="..{% static 'css/reset.css' %}" media="screen" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
        <link href="http://projects.scpr.org/static/static-files/v3-dependencies/css/jquery-ui.1.10.3.css" rel="stylesheet" type="text/css" media="all" />
        <link href="http://projects.scpr.org/static/static-files/css/jquery-alerts/jquery.alerts.css" rel="stylesheet" type="text/css" media="all" />

        <!--
        <link href="http://projects.scpr.org/static/static-files/v3-dependencies/css/main-foundation-style-v3.css" rel="stylesheet" />
        -->

        <link href="..{% static 'css/main-foundation-style-v3.css' %}" media="screen" rel="stylesheet" type="text/css" />

        {% block super_css %}{% endblock %}
        <!-- end css -->

        <!-- html5 shim and respond.js ie8 support of html5 elements and media queries -->
        <!--[if lte IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
            <link href="http://projects.scpr.org/static/static-files/v3-dependencies/respond-proxy/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
            <link href="respond-proxy/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />
            <script src="respond-proxy/respond.proxy.js"></script>
        <![endif]-->

        <!-- begin base scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="//use.typekit.net/vtu6xsq.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        {% block header_js %}{% endblock %}
        <!-- end base scripts -->

    </head>
    <!-- end header -->

    <!-- begin body -->
    <body class="minimal">
        <div class="kpcc-header">
            <header>
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container data-container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h3 id="site-title" ><a href="http://www.scpr.org/">KPCC 89.3</a></h3>
                        </div>
                        <div class="data-share navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right header-links clearfix">
                                <li class="projects-pledge">
                                    <a href="https://scprcontribute.publicradio.org/" class="pledge-now icon">Contribute to KPCC</a>
                                    <a href="https://scprcontribute.publicradio.org/" target="_blank"><b>Pledge now</b></a>
                                </li>
                                <li class="projects-share">
                                    <div class="share-links clearfix">
                                        <script>function fbs_click() {u=location.href;t=document.title;window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}</script>
                                            <a class="facebook icon" href="https://www.facebook.com/sharer/sharer.php?u={% block facebook_encoded_share_url %}{% endblock %}" onClick="return fbs_click()" target="_blank" title="Share This on Facebook"></a>
                                            <a class="twitter icon" href="http://twitter.com/share?text={% block twitter_share_text %}{% endblock %}&url={% block twitter_encoded_share_url %}{% endblock %}"></a>
                                    </div>
                                    <b>Share this</b>
                                </li>
                                <li class="projects-embed">
                                    <a href="javascript:void(0)" class="embed-this icon">Embed This</a>
                                    <a href="javascript:void(0)" target="_blank"><b>Embed This</b></a>
                                </li>
                                <li class="projects-home">
                                    <a href="http://projects.scpr.org/" class="projects-home icon">Projects Home</a>
                                    <a href="http://projects.scpr.org/"><b>All Projects</b></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        </div>
        <div class="container data-container">
            <div class="row data-details">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="content-article">
                        <div class="headlines">
                            <h4 class="kicker">{{ object_list.article_content.kicker }}</h4>
                            <h1>{{ object_list.article_content.display_headline }}</h1>
                        </div>
                        <div class="about collapse">
                            <p><span class="credits">{{ object_list.article_content.display_credits|safe }}</span> | <span class="pubdate">{{ object_list.article_content.display_date|safe }}</span></p>
                            {{ object_list.article_content.display_text|safe }}
                        </div>
                        <div class="sources collapse">
                            <p>
                                {% if object_list.about_content.sources %}
                                    <strong>Sources</strong>: {{ object_list.about_content.sources|safe }}
                                {% endif %}
                                {% if object_list.about_content.open_source %}
                                    <strong>Built using</strong>: {{ object_list.about_content.open_source|safe }}
                                {% endif %}
                                {% if object_list.about_content.data_download %}
                                    <strong>Download</strong>: {{ object_list.about_content.data_download|safe }}
                                {% endif %}
                                {% if object_list.about_content.github_link %}
                                    View on <a href="{{ object_list.about_content.github_link|safe }}" target="_blank">GitHub</a>
                                {% endif %}
                            </p>
                        </div>
                        <div class="buttons btn-group btn-group-justified">
                            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".about"><span class="text glyphicon glyphicon-chevron-down"></span>  About</a>
                            <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target=".sources"><span class="about glyphicon glyphicon-chevron-down"></span>  Sources</a>
                            {% if object_list.about_content.read_more_link %}
                                <a class="btn btn-primary" href="{{ object_list.about_content.read_more_link }}"><span class="glyphicon glyphicon-link"></span> Read more</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row data-visuals">
                {% block data_visuals %}{% endblock %}
            </div>
            <div class="row data-comments">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="disqus_thread"></div>
                </div>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
            <div class="row kpcc-footer">
                {% include "kpcc-footer.html" %}
            </div>
        </div>
        <!-- end main container -->

        <!-- begin scripts -->
        <script src="http://projects.scpr.org/static/static-files/v3-dependencies/scripts/jquery-ui.min.js"></script>
        <script src="http://projects.scpr.org/static/static-files/v3-dependencies/scripts/jquery.alerts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="http://projects.scpr.org/static/static-files/v3-dependencies/scripts/underscore-min.js"></script>
        <script src="http://projects.scpr.org/static/static-files/v3-dependencies/scripts/backbone-min-v1.0.js"></script>
        <script>
            window.appConfig = {% app_config_object object_list.config_object %};
        </script>
        <script src="..{% static 'scripts/_application_wrapper_0.5.js' %}"></script>
        {% block super_js %}{% endblock %}
        <!-- end scripts -->

    </body>
    <!-- end body -->

</html>
<!-- end document -->
